.wash-row {
	margin: 0 auto;
	padding: 10px 40px;
	list-style: none;
	display: table;
}

.wash-row li {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.listwashes div {
	margin: 0 auto;
	width: 25em;
	padding: 3px;
}

.wash-title-row-background {
	background-color: #eaeaea;
	border: 2px solid;
}
